Saved_Models/AE_Conv_prep_flatten_MFCC/
/Data/ESC-US/
/Data/AudioSet/
/Data/AudioSet_original
/Saved_datasets/masked_dataset
**/info_files
*.zip
*.ogg
**Models/__pycache__/
**Preprocessing/__pycache__/
AE/cartoonset10k.tgz
AE/cartoonset100k.tgz
**AE/cartoonset100k

Cached_Datasets/*
Saved_Datasets/

history_supervised.json
vscode/*
__pycache__/*
.DS_Store
Visualization/__pycache__

Saved_Datasets_Leo/
Saved_Models/Dense_AE_ffnn/
Dense_AE_ffnn/
